* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f7;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #1f487e;
  line-height: 18px;
}

a {
  color: #fb3640;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}

#outer {
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  background-color: #fff;
  border: initial;
}

#header {
  max-width: 100%;
  height: 170px;
}

#logo {
  float: center;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

#header #logo span {
  font-weight: bold;
  font-size: 15px;
}

#header #logo h1 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -1px;
}

#header #logo sup {
  color: #fce2ca;
}

#pricipalcontent {
  width: 100%;
  background-color: #fff;
}

#secondarycontent {
  width: 25%;
  float: right;
}

#primarycontent {
  width: 74%;
  float: left;
  margin-right: 3px;
}

#secondarycontent h3 {
  font-size: 16px;
  line-height: 25px;
  color: #1d3461;
  letter-spacing: -1px;
  background: url(../recursos/a22.gif) bottom repeat-x;
  padding: 0px 0px 10px 10px;
  margin-bottom: 20px;
}

#secondarycontent .content {
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

#primarycontent h3 {
  font-size: 16px;
  line-height: 25px;
  color: #1d3461;
  letter-spacing: -1px;
  background: url(../recursos/a22.gif) bottom repeat-x;
  padding: 0px 0px 10px 15px;
  margin-bottom: 20px;
}

#primarycontent .post {
  margin-bottom: 30px;
}

#primarycontent .post .content {
  padding: 0px 15px 0px 15px;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 15px;
}

#primarycontent .post .footer {
  background: url(../recursos/a33.gif) repeat-x;
  height: 34px;
  margin-top: 5px;
  text-align: right;
}

#primarycontent .post .footer ul {
  list-style: none;
}

#primarycontent .post .footer ul li {
  display: inline;
  line-height: 14px;
  padding-left: 17px;
  margin-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

#primarycontent .post .footer ul li.readmore {
  background-image: url(../recursos/a38.gif);
}

img.picA {
  position: relative;
  top: -2px;
  width: 104px;
  height: 84px;
  padding: 4px;
}

img.floatleft {
  float: left;
  margin: 0px 14px 3px 0px;
}

img.picB {
  vertical-align: middle;
  top: -2px;
  width: 160px;
  padding: 7px;
}

ul.linklist {
  list-style: none;
}

ul.linklist li {
  border-top: solid 1px color #eee;
  padding-top: 5px;
  margin: 5px 0px 0px 0px;
}

ul.linklist li.first {
  border-top: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

ol.linklist li {
  margin-left: 17px;
  border-top: 0px;
  padding-top: 0px;
  margin-top: 10px;
}

ol.linklist li.first {
  margin-left: 17px;
  border-top: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

#footer {
  border-top: double;
  clear: both;
  height: 66px;
  text-align: center;
  color: #1f487e;
  padding-top: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 720px) {
  #header #logo {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  #header #splash {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  #secondarycontent {
    width: 0%;
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  primarycontent {
    width: 100%;
    margin: 0;
  }
}
