#menu {
  display: flex;
  height: auto;
  margin-top: 12px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #1d3461;
}

#container .principal {
  float: left;
  color: #fff;
  border-right: 1px solid #fff;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
}

#container a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #1f487e;
}

#container a.last {
  border-right: 0px;
}

@media screen and (max-width: 700px) {
  #container,
  #container .principal {
    width: 100%;
    border-right: 0px;
  }
}
